:root{
    --main-color:#eb5d1e;
    --backgroud-color:#fef8f5;
    --font-color:#4e4039;
    --fontb-color:#7a6960;
    --fontsec-color:#a08f86;
    --fontlst-color:#212529;
    --font-family:"Raleway", sans-serif;
    --fontb-family:"Open Sans", sans-serif;
    

}

.navbar{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.navbar-nav{
    width: 600px;
    position: relative;
    left: 400px;
    
}

.navbar-brand{
    color: var(--fontb-color);
    font-family: var(--font-family);
    font-size: 30px;
    letter-spacing: 2px;
}



.nav-item{
    font-family: var(--fontb-family);
    font-size: 16px;
    color: var(--font-color);
    padding-left: 10px;
    
}

.btn{
    width: 130px;
    height: 40px;
    background-color: var(--main-color);
    color: white;
    border-radius: 40px;
    border: none;
    margin-right: 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.btn:hover{
 background-color:#ee7843 ;   
}

/* END OF NAVBAR */


/* Intro Secrion */
.sec1{
    background-color: var(--backgroud-color);
    border-bottom: 5px;
    border-color: #fcebe3;
    border-style: solid;
}
.container{
    height: 85vh;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.intro{
    width: 50%;
}

.intro h1{
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 700;
    color: rgb(78, 64, 57);
}

.intro h2{
    font-family: var(--font-family);
    font-size: 24px;
    color: var(--fontsec-color);
    font-weight: 400;
}

.bottn{
    width: 150px;
    height: 40px;
    font-family: var(--font-family);
    background-color: var(--main-color);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}

.intro-pic{
    width: 50%;
    top: 0px;
    position: relative;
    animation-name: pic;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse both;


    
    
}

.intro-pic img{
    width: 100%;
}

/* annimation */
@keyframes pic {
    0% {top: 0px}
    50%{top: 20px;}
    100%{top:0px;}
    
}



/* section2 */


.container-2{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.pic2{
    width: 50%;
    height: 70vh;

}

.pic2 img {
    width: 445px;
    height: 290px;
    margin-top: 60px;
    margin-left: 60px;
}

.decription{
    width: 50%;
    height: 70vh;
    line-height: 25px;
}

.decription h3 {
    font-weight: 600;
    font-size: 34px;
    color: var(--font-color);
    margin-top: 40px;
}

.decription p {
    font-size: 15px;
    color: #5a6570;
}

.col-md-6 i{
    font-size: 40px;
    color:#f39e7a;
    padding-left: 10px;
}

/* End Of Section 2 */

/* Section 3 */

.container-3{
    height: 100vh;
    background-color: #fff2eb;
}

.service{
    height: 150px;
    text-align: center;
}

.service h3{
    font-size: 24px;
    font-weight: 700;
    color: #c2b7b1;
    padding-top: 30px;
}

.service p {
    font-size: 32px;
    font-weight: 700;
    color: var(--font-color);
    position: relative;

}

.service p::after{
    content: " ";
    width: 60px;
    background-color:var(--main-color);;
    height: 2px;
    position: absolute;
    left: 600px;
    top:60px;
    
}

.row-1{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
}

.item1{
    height: 280px;
    border-radius: 10px;
    width: 255px;
    line-height: 30px;
    background-color: white;
    
    }

.item1:hover{
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: var(--main-color);
    position: relative;
    top: -5px;
}



.item1 i {
    font-size: 40px;
    padding-top: 40px;
    color:#f39e7a ;
}

.item1 p{
    font-size: 15px;
}

.item1 a{
    text-decoration: none;
    color: #212529;
    padding-top: 10px;
    
}

/* End of Section 3 */


/* Section 4 */

.container-4{
    height: 200vh;
}

.portfolio{
    height: 150px;
    text-align: center;
    padding-top: 20px;
}

.portfolio h2{
    font-size: 32px;
    font-weight: 700;
    color: var(--font-color);
    position: relative;
}

.portfolio h4 {
    color:#c2b7b1 ;
    font-size: 24px;
    font-weight: 700px;
}

.portfolio h2::after{
    content: " ";
    width: 60px;
    background-color:var(--main-color);;
    height: 2px;
    position: absolute;
    left: 600px;
    top:60px;
    
}

.port-display{
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
    justify-content: center;
}
.carousel-item img{
    width: 350px;
    height: 270px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.port-display-2{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
    justify-content: center;
}
.port-display-3{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
    justify-content: center;
}

/* End of Section 4 */

/* Section 5 */

.sec5{
    height: 120vh;
    background-color: #fef8f5;
}

.FAQ{
    height: 150px;
    text-align: center;
    padding-top: 20px;
}

.FAQ h2 {
    font-size: 24px;
    font-weight: 700;
    color: #c2b7b1;
}

.FAQ p{
    font-size: 32px;
    font-weight: 700;
    color: var(--font-color);
    position: relative;
}



.FAQ p::after{
    content: " ";
    width: 60px;
    background-color:var(--main-color);;
    height: 2px;
    position: absolute;
    left: 600px;
    top:60px;
    
}
.list{
    line-height: 2.5;
    margin-left: 50px;
    font-family: var(--fontb-family);
    font-weight: 600;
}

.list a{
    color: var(--fontlst-color);
    font-size: 18px;
    text-decoration: none;
    
}

.list a:hover{

    color: var(--main-color);

}


.list li{
    list-style-type: none;
}

.list i {
    font-size: 15px;
}

/* End of Section5 */

/* Section 6 */

.sec6{
    height: 90vh;

}


.team{

    height: 150px;
    text-align: center;
    padding-top: 20px;
}

.team h3{
    font-size: 24px;
    font-weight: 700;
    color: #c2b7b1;
}

.team p {
    font-size: 32px;
    font-weight: 700;
    color: #4e4039;
    position: relative;
}

.team p::after{
    content: " ";
    width: 60px;
    background-color:var(--main-color);;
    height: 2px;
    position: absolute;
    left: 600px;
    top:60px;
}

.team-pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.team-pics img{
    height: 255px;
    width: 255px;
}
.team1 , .team2 , .team3 ,.team4{
    position: relative;
    height: 255px;
    width: 255px;
    overflow: hidden;
}

.team1-hover , .team2-hover , .team3-hover , .team4-hover{
    position: absolute;
    height: 255px;
    width: 255px;
    font-family: var(--font-family);
    background-image: var(--bs-gradient);
    opacity: 0.5;
    transition-duration: 1s;
}


.team-pics h4 , p {
    color: white;
    text-align: center;
}

.team-pics h4 {
    font-weight: 700;
}


.names{
    margin-top: 130px;
}

.icons {
    background-color: #212529;
    height: 255px;
    width: 50px;
    font-family: var(--font-family);
    background-image: var(--bs-gradient);
    opacity: 0.5;
    transition-duration: 1s;

}

.icons{
    position: absolute;
    top: 0;
    left: -50px;
}


.team-pics i{
    color: white;
    font-size: 15px;
    display: block;
    text-align: center;
    padding-top: 30px;
}

.team1:hover .team1-hover{
    top: 0px;
}
.team1:hover .icons{
    left: 0px;
}


.icons2{
    width: 50px;
    height: 255px;
    position: absolute;
    top: 0px;
    left: -50px;
    transition-duration: 1s;
}


.team2:hover .team2-hover{
 top: 0px;
}

.team2:hover .icons2{
    left: 0px;
}

/* End of team2 */


/* TEAM3 */

.icons3{
    width: 50px;
    height: 255px;
    position: absolute;
    top: 0px;
    left: -50px;
    transition-duration: 1s;
}


.team3:hover .team3-hover{
    top: 0px;
}


.team3:hover .icons3{
    left: 0px;
}

/* End of team3 */

/* Team 4 */

.icons4{
    width: 50px;
    height: 255px;
    position: absolute;
    top: 0px;
    left: -50px;
    transition-duration: 1s;
}

.team4:hover .team4-hover{
    top: 0px;

}

.team4:hover .icons4{
    left: 0px;
}

@media screen and (max-width:1000px) {
    
    .sec1 .sec2{
        display: block;
    }
    .container-2 , .container-3 , .container-4{
        display: block;
        height: 200vh;
    }
    .pic2{
        width: 100px;
    }

}

 /* End of section 6 */

